section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-d-bold.text-up
        span.font-s-32.color-black-text За 4 года работы открыли
        br
        span.font-s-46.color-blue 2 прибыльных филиала
      .about-section__sub-title.font-w-bold.font-s-24.color-black-text
        | Туристическое агентство «САХА АВИА 
        br.no-br
        | ТУР» открылось в 2019 году в г. Якутск.
      .about-section__text
        | Основная сфера деятельности — продажа авиа и жд билетов, 
        br.no-br
        | а также дистанционное обслуживание пассажиров всех 
        br.no-br
        | регионов по субсидированным и льготным тарифам. 
        br.no-br
        | Дополнительные услуги включают в себя продажу 
        br.no-br
        | санаторно-курортных и туристических путевок, 
        br.no-br
        | бронирование хостелов, отелей и квартир в любом городе, 
        br.no-br
        | оформление трансфера и страховки, подготовку полного 
        br.no-br
        | пакета документов для возмещения затрат.
      .about-section__box
        .about-section__box-left.font-w-bold
          | Сегодня у нас успешно запущены и функционируют 
          br.no-br
          | 2 собственных филиала, а ежегодный рост объемов 
          br.no-br
          | продаж составляет 17-20%. Только в нашем агентстве 
          br.no-br
          | туристы получают полное сопровождение на 
          br.no-br
          | протяжении всей поездки или отпуска. Благодаря 
          br.no-br
          | этому мы получаем сотни положительных отзывов и 
          br.no-br
          | рекомендаций о своей работе
        .about-section__box-right.font-w-bold
          | Наши знания и опыт мы упаковали во 
          br.no-br
          | франшизу, которая позволяет вам быстро 
          br.no-br
          | стартовать в этой прибыльной нише, избежав 
          br.no-br
          | основных ошибок. Мы поможем вам 
          br.no-br
          | зарегистрировать бизнес, наладить 
          br.no-br
          | документооборот, освоить программы 
          br.no-br
          | продажи билетов, найти первых клиентов и 
          br.no-br
          | грамотно составить договора.
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1180" height="700" alt="image")
  .about-section__bottom
    form.about-section__form(data-feedback-form)
      textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Ваш вопрос")
      .about-section__form-column
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
      button.btn(type="submit") Задать вопрос основателям
    .about-section__bottom-block
      img.about-section__bottom-logo(src="images/about-section-bottom-logo.png" loading="lazy" width="206" height="124" alt="logo")
      .about-section__bottom-title.font-w-bold
        span.color-blue Будем рады обсудить 
        | все 
        br
        | детали взаимовыгодного 
        br
        | сотрудничества лично
        span.about-section__bottom-title-mark !
