footer.footer
  .wrapper
    .footer__container
      .footer__brand
        .font-w-bold.font-s-18.color-blue.text-up Cахаавиатур
        .font-s-16 Франшиза туристического агентства
      img.footer__logo(src="images/logo-footer.png" loading="lazy" width="558" height="42" alt="logo")
      a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      .footer__phone-number-wrapper
        include ../components/phone-number.pug
      .footer__call-me.btn.btn--call-me-footer(data-remodal-target="modal-form-call-me") Обратная связь
