header.header
  .header__container
    .header__brand-block
      img.header__logo(src="images/logo-header.png" loading="lazy" width="450" height="123" alt="logo")
      .header__brand-bg
        .header-thanks__brand.font-w-bold.font-s-12
          | Франшиза
          br
          | туристического
          br
          | агентства
    .header-thanks__phone-number-wrapper
      include ../components/phone-number.pug
