section.steps-section
    .wrapper
      .steps-section__container
        h2.steps-section__mobile-title.font-w-d-regular.font-s-26
          | Вместе 
          br.no-br
          | с вами пройдем
        h2.steps-section__mobile-sub-title.font-w-d-bold.font-s-46
          | следующие 
          br
          span.color-blue
            | этапы 
            br.no-br
            | открытия
        .steps-section__box
          .swiper-bullet
            .steps-section__cards.swiper-wrapper
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 1
                .font-s-17
                  span.font-w-bold Заключаем 
                  | договор 
                  br.no-br
                  | франшизы
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 2
                .font-s-17
                  span.font-w-bold Поиск 
                  | подходящего 
                  br.no-br
                  | помещения
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 3
                .font-s-17
                  span.font-w-bold Заключение 
                  br.no-br
                  | договора аренды
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 4
                .font-s-17
                  span.font-w-bold Регистрация 
                  | ООО, 
                  br.no-br
                  span.font-w-bold открытие 
                  | счета и 
                  br.no-br
                  span.font-w-bold установка 
                  br.no-br
                  | необходимых 
                  br.no-br
                  | приложений
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 5
                .font-s-17
                  span.font-w-bold Ремонт 
                  br.no-br
                  | и оформление 
                  br.no-br
                  | помещения
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 6
                .font-s-17
                  span.font-w-bold Доставка и монтаж 
                  br.no-br
                  | приобретенного 
                  br.no-br
                  | оборудования, мебели
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 7
                .font-s-17
                  span.font-w-bold Формирование 
                  br.no-br
                  span.font-w-bold первичных запасов 
                  | товара и расходных 
                  br.no-br
                  | материалов
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 8
                .font-s-17
                  span.font-w-bold Обучение 
                  | основам 
                  br.no-br
                  | работы
              .steps-section__card.swiper-slide
                .steps-section__card-title.font-w-d-bold Этап 9
                .font-s-17
                  span.font-w-bold Официальное 
                  br.no-br
                  span.font-w-bold открытие
            .bullet-pagination
          .steps-section__box-left
            h2.steps-section__title.font-w-d-regular.font-s-26
              | Вместе 
              br.no-br
              | с вами пройдем
            h2.steps-section__sub-title.font-w-d-bold.font-s-46
              | следующие 
              br
              span.color-blue
                | этапы 
                br.no-br
                | открытия
            .steps-section__bottom
              img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="152" height="152" alt="image")
              .steps-section__bottom-title.font-w-d-bold.font-s-18
                | Работаем 
                br.no-br
                | строго по договору
              .steps-section__bottom-sub-title.font-s-18
                | в котором описаны 
                br.no-br
                | наши обязанности и все 
                br.no-br
                | условия сотрудничества
              button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать пример
