section.support-section
  .wrapper
    .support-section__container
      img.support-section__icon(src="images/support-section-icon.svg" loading="lazy" width="49" height="49" alt="icon")
      img.support-section__icon-bg(src="images/support-section-icon-bg.png" loading="lazy" width="555" height="974" alt="icon")
      h2.support-section__title.font-w-d-bold.text-up
        span.font-s-32 Поделимся всеми секретами
        br
        span.font-s-46 эффективной работы
      .support-section__sub-title.font-s-22
        | Оставьте заявку и узнайте:
      .swiper-bullet
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Как минимизировать затраты на старте
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Где искать первых клиентов
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Как грамотно заключать договора
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Как сделать клиентов постоянными
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Как оформлять билеты и путевки по льготным тарифам
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Как расти в доходе на 20% ежегодно
          .support-section__card.swiper-slide
            img.support-section__card-icon(src="images/support-section-card-icon.png" loading="lazy" width="86" height="100" alt="icon")
            .support-section__card-text.font-s-17 Как отстроиться от конкурентов и стать лидером рынка
        .bullet-pagination
      form.support-section__form(data-feedback-form)
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input.input--white(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input.input--white(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Скачать
      img.support-section__img(src="images/support-section-img.png" loading="lazy" width="1166" height="785" alt="image")
