extends ../layouts/base

block body
    .layout.thanks-page
      .wrapper-header-thanks
        .wrapper
          include ../components/header-thanks.pug
      main.main
        include ../components/thanks-section.pug
      include ../components/footer-thanks.pug
