.btn
  height: 55px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: #fff
  border-radius: 15px
  box-shadow: inset 4px 4px 25px 0 rgba(255, 255, 255, 0.45);
  background: linear-gradient(90deg, #59c956 0%, #34a731 100%);
  text-transform: uppercase
  font-family: 'Inter-Bold'
  font-weight: 700
  font-size: 13px
  line-height: 110%
  transition transform 0.5s, top 0.8s
  +above($breakpoints.sm)
    font-size: 14px;
    height: 60px;
  +above($breakpoints.md)
    font-size: 16px;
    height: 65px;
  +above($breakpoints.xxl)
    font-size: 18px;
    height: 70px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  &--call-me
    cursor pointer
    height: 40px
    width 115px
    background transparent
    box-shadow: none
    border 2px solid #fff
    font-size: 10px;
    +above($breakpoints.sm)
      font-size: 14px;
      height: 60px;
      width 190px
    +above($breakpoints.md)
      font-size: 16px;
      height: 65px;
      width 230px
    +above($breakpoints.xxl)
      font-size: 18px;
      height: 70px
      width 251px

  &--call-me-footer
    cursor pointer
    height: 40px
    width 115px
    background transparent
    box-shadow: none
    border 2px solid #4271A9
    color: #4271A9
    font-size: 10px;
    +above($breakpoints.sm)
      font-size: 14px;
      height: 60px;
      width 190px
    +above($breakpoints.md)
      font-size: 16px;
      height: 65px;
      width 230px
    +above($breakpoints.xxl)
      font-size: 18px;
      height: 70px
      width 251px


  // &--green
  //   background-color #1B3A06
  //   color: #fff
