.input
  height: 55px
  width 100%
  padding: 0 30px;
  font-family: 'Inter-Regular'
  font-weight: 400
  font-size: 14px;
  line-height: 110%
  color: #444444
  border: 1px solid #F5F5F5
  border-radius: 15px;
  background: #F5F5F5
  position relative
  overflow hidden

  // &.active
  //   .input__progress
  //     opacity 1
  //     min-width: 40px
  //     span
  //       opacity 1
  // &__progress
  //   position: absolute
  //   height: 100%
  //   top: 0
  //   left: 0
  //   background: linear-gradient(90deg, #f68a0e 0%, #ffab07 100%);
  //   opacity 0
  //   min-width: 0
  //   display: flex
  //   align-items: center
  //   justify-content: center
  //   font-size: 16px
  //   line-height: 16px
  //   transition: min-width 1s, opacity 0.8s
  //   color: #fff
  //   font-weight: bold
  //   border-radius: 100px
  //   +above($breakpoints.xxl)
  //     font-size: 20px
  //     line-height: 20px
  //   span
  //     opacity 0
  //     transition: 2s

  transition border-color 0.3s, box-shadow 0.3s, border 0.3s, background 0.3s
  &:hover
    border 1px solid #4271A9
  &:focus
    color: #1E2019
    caret-color: #4271A9
    border 1px solid #4271A9
    box-shadow: 3px 3px 20px 0px #4271A9
    // background: #fff
    &::placeholder
      color: #444444
  &::placeholder
    color: #444444
  +above($breakpoints.sm)
    padding: 0 20px;
    font-size: 14px;
    height: 60px
  +above($breakpoints.md)
    padding: 0 25px;
    font-size: 16px;
    height: 65px
  +above($breakpoints.xxl)
    padding: 0 30px;
    font-size: 18px;
    height: 70px
  &.error
    border 1px solid $color-error
    color: $color-error
    caret-color: $color-error
    box-shadow: 0px 0px 22px 0px $color-error
    // background: #fff
    &::placeholder
      color: $color-error
    &::-ms-input-placeholder
      color: $color-error
    animation: shake 0.6s;
    @keyframes shake
      10%, 90%
        transform: translate3d(-1px, 0, 0)
      20%, 80%
        transform: translate3d(2px, 0, 0)
      30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
      40%, 60%
        transform: translate3d(4px, 0, 0)

  &--textarea
    outline none
    border: none
    padding: 10px 10px 10px 30px
    resize: none
    height: 70px
    width 280px
    border-radius: 10px
    +above($breakpoints.sm)
      padding: 15px 10px 10px 15px
      width: 272px;
      height: 128px;
    +above($breakpoints.md)
      border-radius: 15px
      padding: 17px 10px 10px 17px
      width: 387px;
      height: 140px;
    +above($breakpoints.xxl)
      padding: 23px 10px 10px 25px
      width 436px
      height: 160px

  &--white
    background: #fff

  &--modal
    &:hover
      border 1px solid #E9F6FF
    &:focus
      color: #1E2019
      caret-color: #1E2019
      border 1px solid #E9F6FF
      box-shadow: 3px 3px 20px 0px #E9F6FF
