.steps-section
  // background-image: url('../images/steps-section-bg.jpg')
  // background-repeat: no-repeat
  // background-size: cover
  // background-position: center
  background-color #fff

  &__container
    position relative
    z-index 1
    padding 20px 0
    text-align: center
    +above($breakpoints.sm)
      text-align: start
      padding 70px 0 50px
    +above($breakpoints.md)
      padding 90px 0 70px
    +above($breakpoints.xxl)
      padding 133px 0 126px
    &:after
      content: ""
      position: absolute
      z-index -2
      background-color #ECF6FA
      width 100vw
      height: 100%
      top: 0
      right: -30px
      border-radius: 25px
      +above($breakpoints.sm)
        border-radius: 20px
        right: 440px
      +above($breakpoints.md)
        border-radius: 30px
        right: 600px
      +above($breakpoints.xxl)
        border-radius: 40px
        right: 740px
    &:before
      content: ""
      position: absolute
      z-index -1
      background-color #DBEEF6
      width 100vw
      height: 100%
      top: 0
      right: 340px
      border-radius: 25px
      +above($breakpoints.sm)
        border-radius: 20px
        right: 740px
      +above($breakpoints.md)
        border-radius: 30px
        right: 985px
      +above($breakpoints.xxl)
        border-radius: 40px
        right: 1210px

  &__box
    display: flex
    flex-direction: column
    align-items: center
    +above($breakpoints.sm)
      flex-direction: row-reverse
      align-items: flex-start
      gap: 30px
    +above($breakpoints.md)
      gap: 50px
    +above($breakpoints.xxl)
      gap: 120px

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 62px 7px
    +above($breakpoints.md)
      gap: 74px 30px
    +above($breakpoints.xxl)
      gap: 90px 40px

  &__card
    width 280px !important
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    +above($breakpoints.sm)
      align-items: flex-start
      gap: 8px
      width 137px !important
    +above($breakpoints.md)
      gap: 10px
      width 172px !important
    +above($breakpoints.xxl)
      gap: 12px
      width 198px !important

  &__card-title
    text-transform: uppercase
    color: #005B8C
    font-size: 15px
    line-height: 110%
    +above($breakpoints.sm)
      font-size: 16px
    +above($breakpoints.md)
      font-size: 22px
    +above($breakpoints.xxl)
      font-size: 26px

  &__mobile-title,
  &__mobile-sub-title
    text-transform: uppercase
    color: #262626
    +above($breakpoints.sm)
      display: none

  &__mobile-sub-title
    padding 10px 0 15px 0

  &__title,
  &__sub-title
    display: none
    +above($breakpoints.sm)
      display: block
      text-transform: uppercase
      color: #262626

  &__sub-title
    padding 10px 0 15px 0
    +above($breakpoints.sm)
      padding 15px 0 30px 0
    +above($breakpoints.md)
      padding 20px 0 40px 0
    +above($breakpoints.xxl)
      padding 25px 0 67px 0

  &__bottom
    position relative
    width 100%
    background-color #4271A9
    color: #fff
    border-radius: 10px
    padding: 25px 10px 15px;
    +above($breakpoints.sm)
      width 270px
      padding 15px
    +above($breakpoints.md)
      border-radius: 15px
      width 340px
      padding 20px
    +above($breakpoints.xxl)
      width 384px
      height: 238px
      padding 22px 28px 24px

  &__bottom-img
    position: absolute
    width: 30px;
    height: auto;
    top: 6px;
    right: 7px;
    +above($breakpoints.sm)
      width: 50px;
      top: 12px;
      right: 23px;
    +above($breakpoints.md)
      width: 55px;
      top: 14px;
      right: 27px;
    +above($breakpoints.xxl)
      width 65px
      top: 12px
      right: 26px

  &__bottom-sub-title
    padding 10px 0
    +above($breakpoints.sm)
      padding 10px 0 12px
